@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

:root{
    --primary-color:#F2C94C;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    margin: 0px;
}

main{
    margin: auto;
    max-width: var(--width-break);
}

.navigation{
    background-color:var(--primary-color);
    color: black;
    padding: 0rem 1rem;
    height: 15vh;
    text-align: center;
}

.nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
}


.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}


textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    font-size: large;
    font-family: inherit;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

#btn-translate{
    height: 10vh;
    margin: auto;
    background-color: var(--primary-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: none;
    width: 25vh;
    font-family: 'Kalam', cursive;
    font-size: large;
    font-weight: 200;
}

#output{
    border: 1px solid black;
    height: 15vh;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
}

.footer{
    background-color:var(--primary-color);
    padding: 1rem 1rem;
    height: 27vh;
    text-align: center;
}

.footer-header{
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-discription{
    text-align: center;
    margin: auto;
    width: 50%;
}